<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <header><%- include("./partials/header.ejs") %></header>
  <body>
    <!-- Cover Photo -->
    <div>
      <img
        src="/images/Amsterdam/amsterdamCover2.jpg"
        class="img-fluid"
        alt="Cover"
      />
    </div>

    <div class="center">
      <!-- Welcome Section -->
      <div class="container d-flex justify-content-center my-5">
        <h1 id="title">Amsterdam</h1>
      </div>
      <div class="container d-flex justify-content-center center my-5">
        <p>
          <span class="first-letter">A</span>msterdam is a captivating city,
          renowned for its picturesque canals, vibrant neighborhoods, and rich
          cultural heritage. Visitors can explore iconic museums like the Van
          Gogh Museum and the Anne Frank House, savor delicious local cuisine,
          and soak in the charm of historic architecture. Biking through its
          bike-friendly streets and visiting lively markets add to the unique
          experiences that make this city so special. With stunning visuals and
          a dynamic atmosphere, Amsterdam is a destination full of inspiration
          and adventure.
        </p>
      </div>

      <!-- Best time to Visit -->
      <div class="container d-flex justify-content-center my-5">
        <h2>Best Time to Visit</h2>
      </div>

      <div class="container mt-3">
        <img
          src="/images/Amsterdam/20230404_110958.jpg"
          class="mx-auto d-block"
          style="width: 70%"
          alt="trio of friends"
        />
      </div>

      <div class="container d-flex justify-content-center my-5 center">
        <p>
          The best time to visit Amsterdam is during the spring (April to June)
          when the weather is mild and the city's famous tulip fields are in
          full bloom. This season also features vibrant festivals and fewer
          tourists compared to summer. Fall (September to November) is another
          great option, as the crowds thin out and the foliage turns beautiful
          shades of orange and red. Each season has its charm, but spring and
          fall offer a lovely balance of pleasant weather and cultural
          experiences. Summer is popular but can be crowded, while winter,
          especially around the holidays, brings a magical atmosphere with
          festive lights and markets.
        </p>
      </div>

      <hr class="featurette-divider" />

      <!-- Must-visit Places -->
      <div class="container center my-5" id="dishes">
        <h2 class="text-center">Must-visit Places</h2>
      </div>

      <!-- Madame Tussauds -->
      <div class="row featurette center">
        <div class="col-md-7">
          <h3 class="featurette-heading fw-normal lh-1">
            Madame Tussauds.
            <span class="text-body-secondary">Wax Wonders.</span>
          </h3>
          <p class="lead">
            A world-renowned wax museum located in the heart of Amsterdam. Here,
            you can pose with lifelike figures of celebrities, historical
            figures, and cultural icons, making it a fun photo opportunity.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Amsterdam/20220210_111023.jpg"
            role="img"
          />
        </div>
      </div>

      <div class="container mt-3 mx-auto center">
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Amsterdam/20220210_115419.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Amsterdam/20220210_114954.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Amsterdam/20220210_120506.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Amsterdam/20220210_121821.jpg"
              alt="..."
            />
          </div>
        </div>
      </div>

      <!-- Zaanse Schans -->

      <div class="row featurette mt-5 center">
        <div class="col-md-7 order-md-2">
          <h3 class="featurette-heading fw-normal lh-1">
            Zaanse Schans.
            <span class="text-body-secondary">Windmill Village.</span>
          </h3>
          <p class="lead">
            Just outside Amsterdam, this open-air museum showcases traditional
            Dutch life with historic windmills, wooden houses, and craft
            workshops. It’s a picturesque area perfect for a day trip, offering
            insights into the Netherlands' heritage and stunning views.
          </p>
        </div>

        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Amsterdam/20230403_161726.jpg"
            role="img"
          />
        </div>
      </div>

      <div class="container mt-3 mx-auto center">
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Amsterdam/20230403_165713.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Amsterdam/20220211_104600.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Amsterdam/20220211_105530.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Amsterdam/20220211_105804.jpg"
              alt="..."
            />
          </div>
        </div>
      </div>

      <div class="col-md-12 my-3 mb-5 center">
        <img
          class="mx-auto d-block rounded-both-sides"
          style="width: 100%"
          src="/images/Amsterdam/20230403_160836.jpg"
          alt="..."
        />
      </div>

      <!-- Heineken Experience -->
      <div class="row featurette mt-5 center">
        <div class="col-md-7">
          <h3 class="featurette-heading fw-normal lh-1">
            Heineken Experience.
            <span class="text-body-secondary">Brewery Bliss.</span>
          </h3>
          <p class="lead">
            A fun brewery tour where you can learn about the brewing process and
            enjoy tastings.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Amsterdam/20220210_163545.jpg"
            role="img"
          />
        </div>
      </div>

      <div class="container mt-3 mx-auto center">
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Amsterdam/20220210_160047.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Amsterdam/20220210_170312.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Amsterdam/20220210_193128.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Amsterdam/20220210_161432.jpg"
              alt="..."
            />
          </div>
        </div>
      </div>

      <div class="col-md-12 my-3 mb-5 center">
        <img
          class="mx-auto d-block rounded-both-sides"
          style="width: 100%"
          src="/images/Amsterdam/20220210_173920.jpg"
          alt="..."
        />
      </div>

      <!-- Albert Cuyp Market -->

      <div class="row featurette mt-5 center">
        <div class="col-md-7 order-md-2">
          <h3 class="featurette-heading fw-normal lh-1">
            Albert Cuyp Market.
            <span class="text-body-secondary">Market Marvels.</span>
          </h3>
          <p class="lead">
            One of the largest and most famous street markets in the
            Netherlands, located in the De Pijp neighborhood. You can find
            everything from fresh produce and cheese to clothing and local
            delicacies, making it a vibrant spot for shopping and snacking.
          </p>
        </div>

        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Amsterdam/20220212_113237.jpg"
            role="img"
          />
        </div>
      </div>

      <div class="container mt-3 mx-auto center">
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Amsterdam/20220212_110826.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Amsterdam/20220212_110948.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Amsterdam/20220212_113754.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Amsterdam/20220212_114017.jpg"
              alt="..."
            />
          </div>
        </div>
      </div>

      <!-- Keukenhof -->
      <div class="row featurette mt-5 center">
        <div class="col-md-7">
          <h3 class="featurette-heading fw-normal lh-1">
            Keukenhof.
            <span class="text-body-secondary">Flower Paradise.</span>
          </h3>
          <p class="lead">
            Located in Lisse, just a short trip from Amsterdam, Keukenhof is one
            of the world’s largest flower gardens, open from mid-March to
            mid-May. It boasts millions of vibrant tulips, daffodils, and
            hyacinths, arranged in stunning displays that change weekly.
            Highlights include themed gardens, a picturesque windmill with
            panoramic views, and various exhibitions. A visit to Keukenhof is a
            quintessential Dutch experience, perfect for flower lovers and
            photographers alike!
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Amsterdam/20230404_104909.jpg"
            role="img"
          />
        </div>
      </div>

      <div class="container mt-3 mx-auto center">
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Amsterdam/20230404_095149.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Amsterdam/20230404_111706.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Amsterdam/DSC01867.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Amsterdam/20230404_133016.jpg"
              alt="..."
            />
          </div>
        </div>
      </div>

      <div class="col-md-12 my-3 mb-5 center">
        <img
          class="mx-auto d-block rounded-both-sides"
          style="width: 100%"
          src="/images/Amsterdam/20230404_112412.jpg"
          alt="..."
        />
      </div>

      <hr class="featurette-divider" />

      <!-- Must-try Dishes -->
      <div class="container d-flex justify-content-center my-5" id="dishes">
        <h2>Must-try Dishes</h2>
      </div>

      <!-- Stroopwafels -->
      <div class="row featurette center">
        <div class="col-md-7">
          <h3 class="eaturette-heading fw-normal lh-1 card-title">
            Stroopwafels
          </h3>
          <p class="lead">
            Thin waffles filled with caramel syrup (sometiemes also with
            chocolate), best enjoyed warm.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Amsterdam/20220212_113232.jpg"
            role="img"
          />
        </div>
      </div>

      <!-- Haring -->
      <div class="row featurette center mt-5">
        <div class="col-md-7 order-md-2">
          <h3 class="eaturette-heading fw-normal lh-1 card-title">Haring</h3>
          <p class="lead">
            Raw herring fish, often served with onions and pickles. Try it
            "haarings" style—eating it by holding it by the tail.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Amsterdam/20220212_114821.jpg"
            role="img"
          />
        </div>
      </div>

      <!-- Poffertjes -->
      <div class="row featurette center mt-5">
        <div class="col-md-7">
          <h3 class="eaturette-heading fw-normal lh-1 card-title">
            Poffertjes
          </h3>
          <p class="lead">
            Small, fluffy pancakes that are sweet and typically dusted with
            powdered sugar.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Amsterdam/20220212_125324.jpg"
            role="img"
          />
        </div>
      </div>

      <!-- Bitterballen -->
      <div class="row featurette center mt-5">
        <div class="col-md-7 order-md-2">
          <h3 class="eaturette-heading fw-normal lh-1 card-title">
            Bitterballen
          </h3>
          <p class="lead">
            A popular Dutch snack, these are deep-fried balls filled with a
            savory meat ragout, usually served with mustard.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Amsterdam/20220211_125343.jpg"
            role="img"
          />
        </div>
      </div>

            <!-- Pannenkoeken -->
            <div class="row featurette center mt-5">
              <div class="col-md-7">
                <h3 class="eaturette-heading fw-normal lh-1 card-title">
                  Pannenkoeken
                </h3>
                <p class="lead">
                  Pancakes are a beloved treat in Amsterdam, particularly Dutch
                  pancakes (pannenkoeken). They are larger and thinner than
                  American pancakes, often served with a variety of sweet or
                  savory toppings. Common sweet options include powdered sugar,
                  fruit, or syrup, while savory varieties might feature cheese,
                  bacon, or vegetables.<br />
                  You can find dedicated pancake houses throughout the city,
                  where you can customize your meal. Whether enjoyed as
                  breakfast, lunch, or dessert, Dutch pancakes are a must-try
                  when visiting Amsterdam!
                </p>
              </div>
              
                <div class="col-md-5">
                  <img
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
                    src="/images/Amsterdam/20240407_182347.jpg"
                    role="img"
                  />

              </div>
            </div>
      
            <!-- Appeltaart (My Personal Favorite) -->
            <div class="row featurette center mt-5">
              <div class="col-md-7 order-md-2">
                <h3 class="eaturette-heading fw-normal lh-1 card-title">Appeltaart (My Personal Favorite)</h3>
                <p class="lead">
                  Winkel 43 is famous for its incredible apple pie (appeltaart),
                  considered one of the best in Amsterdam. The pie features a
                  buttery, flaky crust filled with a generous layer of spiced
                  apples, raisins, and often a hint of cinnamon. It’s typically
                  served warm with a dollop of fresh whipped cream, making it a
                  perfect treat for any time of day.<br />
                  Winkel 43's cozy atmosphere and prime location in the Jordaan
                  neighborhood make it a popular spot for both locals and
                  tourists. If you’re in Amsterdam, indulging in their apple pie
                  is a delicious experience you won't want to miss!
                </p>
              </div>
              <div class="col-md-5">
                <img
                  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
                  src="/images/Amsterdam/20240408_124413.jpg"
                  role="img"
                />
              </div>
            </div>

  

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
  <footer><%- include("./partials/footer.ejs") %></footer>
</html>
