<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <header><%- include("./partials/header.ejs") %></header>
  <body>
    <!-- Cover Photo -->
    <div>
      <img src="/images/Dubai/dubaiCover.jpg" class="img-fluid" alt="Cover" />
    </div>

    <div class="center">
      <!-- Welcome Section -->
      <div class="container d-flex justify-content-center my-5">
        <h1 id="title">Dubai</h1>
      </div>
      <div class="container d-flex justify-content-center my-5 center">
        <p>
          <span class="first-letter">D</span>ubai is a vibrant city that
          perfectly blends modernity with tradition. Known for its stunning
          skyline, including the iconic Burj Khalifa, Dubai offers a wealth of
          experiences, from luxurious shopping in the Dubai Mall to exploring
          the historic Al Fahidi district. Visitors can indulge in diverse
          cuisine, enjoy thrilling desert safaris, and relax on beautiful
          beaches. With its rich cultural scene, innovative attractions, and
          year-round sunshine, Dubai is a must-visit destination for travelers
          seeking adventure and luxury in the heart of the Middle East.
        </p>
      </div>

      <!-- Best time to Visit -->
      <div class="container d-flex justify-content-center my-5">
        <h2>Best Time to Visit</h2>
      </div>

      <div class="container mt-3">
        <img
          src="/images/Dubai/20231116_125647.jpg"
          class="mx-auto d-block rounded-both-sides"
          style="width: 70%"
          alt="trio of friends"
        />
      </div>

      <div class="container d-flex justify-content-center my-5 center">
        <p>
          The best time to visit Dubai is from November to March. During this
          period, temperatures are pleasant (20°C to 30°C / 68°F to 86°F),
          making it ideal for outdoor activities and events like the Dubai
          Shopping Festival and UAE National Day celebrations. Avoid visiting
          from April to October, when temperatures can exceed 40°C (104°F),
          limiting outdoor exploration.
        </p>
      </div>

      <hr class="featurette-divider" />

      <!-- Must-visit Places -->
      <div class="container center my-5" id="dishes">
        <h2 class="text-center">Must-visit Places</h2>
      </div>

      <!-- Burj Khalifa -->
      <div class="row featurette center">
        <div class="col-md-7">
          <h3 class="featurette-heading fw-normal lh-1">
            Burj Khalifa.
            <span class="text-body-secondary">Touching the Sky.</span>
          </h3>
          <p class="lead">
            Standing at 828 meters, this iconic skyscraper is the tallest
            building in the world. Visitors can take in breathtaking panoramic
            views from its observation decks, making it a symbol of Dubai’s
            innovation and ambition.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Dubai/20231112_191134.jpg"
            role="img"
          />
        </div>
      </div>

      <div class="container mt-3 mx-auto center">
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231112_182021.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231112_180429.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231116_104107.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231116_083824.jpg"
              alt="..."
            />
          </div>
        </div>
      </div>

      <div class="col-md-12 my-3 mb-5 center">
        <img
          class="mx-auto d-block rounded-both-sides"
          style="width: 100%"
          src="/images/Dubai/20231116_084146.jpg"
          alt="..."
        />
      </div>

      <!-- Mall of the Emirates -->

      <div class="row featurette center mt-5">
        <div class="col-md-7 order-md-2">
          <h3 class="featurette-heading fw-normal lh-1">
            Mall of the Emirates.
            <span class="text-body-secondary"
              >Dubai's Premier Shopping and Entertainment Hub.</span
            >
          </h3>
          <p class="lead">
            This iconic destination features over 630 stores, ranging from
            luxury brands to trendy boutiques. Highlights include Ski Dubai, an
            indoor ski resort, and a diverse selection of dining options. With
            its blend of shopping, entertainment, and unique attractions, Mall
            of the Emirates is a must-visit for any traveler seeking a vibrant
            experience!
          </p>
        </div>

        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Dubai/20231115_094320.jpg"
            role="img"
          />
        </div>
      </div>

      <div class="container mt-3 mx-auto center">
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231112_221053.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231112_221301.jpg"
              alt="..."
            />
          </div>
        </div>
      </div>

      <!-- Dubai Mall -->
      <div class="row featurette center mt-5">
        <div class="col-md-7">
          <h3 class="featurette-heading fw-normal lh-1">
            Dubai Mall.
            <span class="text-body-secondary"
              >The Ultimate Shopping Experience.</span
            >
          </h3>
          <p class="lead">
            As one of the largest malls in the world, it offers over 1,200
            shops, an aquarium, an ice rink, and countless dining options. With
            its stunning architecture and attractions, Dubai Mall is a shopping
            paradise that’s perfect for all ages.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Dubai/20231112_174421.jpg"
            role="img"
          />
        </div>
      </div>
      <div class="col-md-12 my-3 mb-5 center">
        <img
          class="mx-auto d-block rounded-both-sides"
          style="width: 100%"
          src="/images/Dubai/20231112_215156.jpg"
          alt="..."
        />
      </div>

      <!-- Gold Souq -->

      <div class="row featurette center mt-5">
        <div class="col-md-7 order-md-2">
          <h3 class="featurette-heading fw-normal lh-1">
            Gold Souq.
            <span class="text-body-secondary"
              >Dubai's Glittering Treasure Trove.</span
            >
          </h3>
          <p class="lead">
            This bustling marketplace is famous for its stunning array of gold
            jewelry, intricate designs, and competitive prices. It’s where we
            bought our wedding ring, making it a special experience. As you
            stroll through the winding alleys lined with shops, don’t miss the
            chance to see the heaviest gold ring in the world—a true highlight
            of this captivating souk. Immerse yourself in the rich heritage of
            Dubai while shopping for exquisite souvenirs!
          </p>
        </div>

        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Dubai/20231115_172808.jpg"
            role="img"
          />
        </div>
      </div>
      <div class="container mt-3 mx-auto center">
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231114_102339.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231216_115528.jpg"
              alt="..."
            />
          </div>
        </div>
      </div>

      <!-- Desert Safari -->
      <div class="row featurette center mt-5">
        <div class="col-md-7">
          <h3 class="featurette-heading fw-normal lh-1">
            Desert Safari.
            <span class="text-body-secondary">An Adventurous Escape.</span>
          </h3>
          <p class="lead">
            Experience the thrill of dune bashing, camel rides, and traditional
            Bedouin culture in the stunning Arabian Desert. As the sun sets,
            enjoy a magical evening with a barbecue dinner, live entertainment,
            and stargazing—an unforgettable adventure!
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Dubai/20231114_173002.jpg"
            role="img"
          />
        </div>
      </div>

      <div class="container mt-3 mx-auto center">
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231114_165110.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231114_170606.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231114_200547(0).jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231114_195329.jpg"
              alt="..."
            />
          </div>
        </div>
      </div>

      <!-- Dubai Miracle Garden -->
      <div class="row featurette center mt-5">
        <div class="col-md-7 order-md-2">
          <h3 class="featurette-heading fw-normal lh-1">
            Dubai Miracle Garden.
            <span class="text-body-secondary">A Floral Wonderland.</span>
          </h3>
          <p class="lead">
            This stunning garden features over 150 million blooming flowers
            arranged in breathtaking displays. With unique sculptures and themed
            sections, it’s a vibrant escape that showcases nature's beauty in
            the heart of the city.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Dubai/20231115_104220.jpg"
            role="img"
          />
        </div>
      </div>

      <div class="container mt-3 mx-auto center">
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231115_111943.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231115_112208.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231115_104748.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231115_105050.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231115_110525.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231115_113310.jpg"
              alt="..."
            />
          </div>
        </div>
      </div>

      <!-- Global Village -->

      <div class="row featurette center mt-5">
        <div class="col-md-7">
          <h3 class="featurette-heading fw-normal lh-1">
            Global Village.
            <span class="text-body-secondary">A Cultural Extravaganza.</span>
          </h3>
          <p class="lead">
            This seasonal outdoor market brings together pavilions from around
            the world, showcasing diverse cultures, cuisine, and crafts. With
            live performances and entertainment, it’s a vibrant celebration of
            global heritage and a fantastic family-friendly destination.
          </p>
        </div>

        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Dubai/20231116_201154.jpg"
            role="img"
          />
        </div>
      </div>

      <div class="container mt-3 mx-auto center">
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231116_200337.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231116_200907.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231116_192436.jpg"
              alt="..."
            />
          </div>
        </div>
      </div>

      <!-- Burj Al Arab -->
      <div class="row featurette center mt-5">
        <div class="col-md-7 order-md-2">
          <h3 class="featurette-heading fw-normal lh-1">
            Burj Al Arab.
            <span class="text-body-secondary"
              >The Iconic Sail-Shaped Hotel.</span
            >
          </h3>
          <p class="lead">
            Often referred to as the world’s only seven-star hotel, this
            luxurious landmark offers unparalleled opulence and stunning views
            of the Arabian Gulf. With its distinctive design and lavish
            amenities, it’s a symbol of Dubai’s luxury hospitality. Although we
            didn't enter the hotel, we were able to admire its striking exterior
            and take in its grandeur from the outside.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Dubai/20231115_140947.jpg"
            role="img"
          />
        </div>
      </div>

      <!-- Dubai Frame -->

      <div class="row featurette center mt-5">
        <div class="col-md-7">
          <h3 class="featurette-heading fw-normal lh-1">
            Dubai Frame.
            <span class="text-body-secondary"
              >A Window to the Past and Future.</span
            >
          </h3>
          <p class="lead">
            This iconic architectural landmark stands 150 meters tall and offers
            stunning views of both old and new Dubai. Visitors can walk across
            the glass bridge at the top for a unique perspective of the city’s
            skyline and explore exhibitions that showcase Dubai’s rich heritage
            and rapid development. A perfect blend of history and modernity,
            Dubai Frame is a must-see attraction!
          </p>
        </div>

        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Dubai/20231116_134015.jpg"
            role="img"
          />
        </div>
      </div>

      <div class="container mt-3 mx-auto center">
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231116_130609.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231116_130656.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231116_131350.jpg"
              alt="..."
            />
          </div>
        </div>
      </div>

      <!-- Sheikh Zayed Grand Mosque -->
      <div class="row featurette center mt-5">
        <div class="col-md-7 order-md-2">
          <h3 class="featurette-heading fw-normal lh-1">
            Sheikh Zayed Grand Mosque.
            <span class="text-body-secondary"
              >A Majestic Architectural Marvel.</span
            >
          </h3>
          <p class="lead">
            This stunning mosque in Abu Dhabi is one of the largest in the
            world, renowned for its breathtaking white marble domes and
            intricate Islamic artistry. Visitors can explore its expansive
            prayer halls, where you'll find the largest hand-woven carpet in the
            world, adding to its grandeur. The mosque is a symbol of tolerance
            and unity, welcoming people of all faiths to admire its beauty and
            learn about Emirati culture. Although we know this is not in Dubai,
            it’s close enough that we didn’t want to miss the opportunity to
            visit. A must-visit for anyone traveling in the region!
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Dubai/20231113_170345.jpg"
            role="img"
          />
        </div>
      </div>

      <div class="container mt-3 mx-auto center">
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231113_170958.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231113_171205.jpg"
              alt="..."
            />
          </div>
        </div>
      </div>

      <div class="container mt-3 mb-5 mx-auto center">
        <div class="row justify-content-center">
          <div class="col-md-4 col-sm-4 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231113_165724.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-4 col-sm-4 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231113_172335.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-4 col-sm-4 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231113_173312.jpg"
              alt="..."
            />
          </div>
        </div>
      </div>

      <hr class="featurette-divider" />

      <!-- Must-try Dishes -->
      <div class="container d-flex justify-content-center my-5" id="dishes">
        <h2>Must-try Dishes</h2>
      </div>

      <!-- Lamb Pita -->
      <div class="row featurette center mt-5">
        <div class="col-md-7">
          <h3 class="eaturette-heading fw-normal lh-1 card-title">Lamb Pita</h3>
          <p class="lead">
            This delightful dish features tender, marinated lamb nestled inside
            warm pita bread, accompanied by fresh vegetables like tomatoes,
            cucumbers, and lettuce. The addition of tangy sauces elevated the
            flavor, creating a perfect harmony of textures. It was a satisfying
            start to my food exploration, showcasing the rich flavors of Middle
            Eastern cuisine.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Dubai/20231115_143539.jpg"
            role="img"
          />
        </div>
      </div>

      <!-- Biryani -->
      <div class="row featurette center mt-5">
        <div class="col-md-7 order-md-2">
          <h3 class="eaturette-heading fw-normal lh-1 card-title">Biryani</h3>
          <p class="lead">
            This aromatic rice dish is a must-try in Dubai, and I found a
            fantastic spot that served it with succulent pieces of lamb. The
            rice was perfectly cooked, infused with spices that danced on my
            palate. Topped with a vibrant green sauce, it was a comforting dish
            that exemplified the culinary heritage of the region. Each bite was
            a reminder of why Biryani is beloved worldwide.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Dubai/20231115_143500.jpg"
            role="img"
          />
        </div>
      </div>

      <!-- Fattoush  -->
      <div class="row featurette center mt-5">
        <div class="col-md-7">
          <h3 class="eaturette-heading fw-normal lh-1 card-title">Fattoush</h3>
          <p class="lead">
            Fattoush is a traditional Levantine salad bursting with flavor. This
            vibrant mix of greens, tomatoes, cucumbers, and crispy pita chips
            was drizzled with a zesty lemon dressing. The crunch of the pita
            chips added an enjoyable texture, making it a delightful
            accompaniment to my meal. Fattoush not only satisfied my hunger but
            also showcased the freshness of local produce.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Dubai/20231115_142910.jpg"
            role="img"
          />
        </div>
      </div>

      <!-- Cinnabon -->
      <div class="row featurette center mt-5">
        <div class="col-md-7 order-md-2">
          <h3 class="eaturette-heading fw-normal lh-1 card-title">Cinnabon</h3>
          <p class="lead">
            No culinary journey in Dubai would be complete without a visit to
            Cinnabon. The aroma of freshly baked cinnamon rolls drew us in, and
            we couldn’t resist trying their classic roll. Topped with cream
            cheese frosting and filled with gooey cinnamon goodness, it was a
            sweet indulgence that brought comfort and joy. Perfect for a midday
            treat or an after-dinner dessert, Cinnabon is a must-visit for
            anyone with a sweet tooth.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Dubai/20231112_231228.jpg"
            role="img"
          />
        </div>
      </div>

      <!-- Off the Hook Seafood Restaurant -->
      <div class="row featurette center mt-5">
        <div class="col-md-7">
          <h3 class="eaturette-heading fw-normal lh-1 card-title">
            Off the Hook Seafood Restaurant
          </h3>
          <p class="lead">
            At Off the Hook Seafood Restaurant, we discovered an eat-all-you-can
            seafood buffet that was simply incredible. The variety of fresh
            seafood available was overwhelming—in the best way possible! From
            grilled shrimp to succulent crab legs, everything was cooked to
            perfection. The vibrant atmosphere and friendly staff made the
            experience even more enjoyable. It’s a fantastic spot for seafood
            enthusiasts looking to indulge in a wide array of flavors.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Dubai/20231116_144629.jpg"
            role="img"
          />
        </div>
      </div>

      <div class="container mt-3 mx-auto center">
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231116_144655.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Dubai/20231116_144544.jpg"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
  <footer><%- include("./partials/footer.ejs") %></footer>
</html>
