<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <header><%- include("./partials/header.ejs") %></header>
  <body>
    <!-- Cover Photo -->
    <div>
      <img src="/images/Rome/romeCover.jpg" class="img-fluid" alt="Cover" />
    </div>

    <div class="center">
      <!-- Welcome Section -->
      <div class="container d-flex justify-content-center my-5">
        <h1 id="title">Rome</h1>
      </div>
      <div class="container d-flex justify-content-center my-5 center">
        <p>
          <span class="first-letter">R</span>ome, the Eternal City, is a
          captivating blend of ancient history and vibrant modern life. Renowned
          for its stunning architecture, visitors can marvel at iconic landmarks
          such as the Colosseum, the Roman Forum, and the Pantheon. The Vatican
          City, home to St. Peter's Basilica and the Sistine Chapel, showcases
          incredible art and spiritual significance. Stroll through charming
          cobblestone streets, savor authentic Italian cuisine in bustling
          piazzas, and discover the city's rich history at every turn. With its
          warm atmosphere and countless cultural treasures, Rome offers an
          unforgettable experience for travelers.
        </p>
      </div>

      <!-- Best time to Visit -->
      <div class="container d-flex justify-content-center my-5">
        <h2>Best Time to Visit</h2>
      </div>

      <div class="container mt-3">
        <img
          src="/images/Rome/20220820_143147(0).jpg"
          class="mx-auto d-block rounded-both-sides"
          style="width: 70%"
          alt="trio of friends"
        />
      </div>

      <div class="container d-flex justify-content-center my-5 center">
        <p>
          The best times to visit Rome are generally during the spring (April to
          June) and fall (September to October). During these months, the
          weather is pleasant, with mild temperatures and fewer crowds compared
          to the summer peak. Spring offers beautiful blooming flowers, while
          fall showcases lovely autumn colors. If you prefer fewer tourists and
          don't mind cooler weather, visiting in the winter (December to
          February) can also be charming, especially around the holidays.
        </p>
      </div>

      <hr class="featurette-divider" />

      <!-- Must-visit Places -->
      <div class="container center my-5" id="dishes">
        <h2 class="text-center">Must-visit Places</h2>
      </div>

      <!-- Trevi Fountain -->
      <div class="row featurette center">
        <div class="col-md-7">
          <h3 class="featurette-heading fw-normal lh-1">
            Trevi Fountain.
            <span class="text-body-secondary">A Wish Upon a Star.</span>
          </h3>
          <p class="lead">
            Make a wish at the iconic Trevi Fountain! Toss a coin over your left
            shoulder and watch it splash into the water—legend has it that this
            guarantees your return to Rome. Enjoy the vibrant atmosphere as you
            soak in the beauty of this Baroque masterpiece.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Rome/20220820_094348.jpg"
            role="img"
          />
        </div>
      </div>
      <div class="col-md-12 my-3 mb-5 center">
        <img
          class="mx-auto d-block rounded-both-sides"
          style="width: 100%"
          src="/images/Rome/20220819_230326.jpg"
          alt="..."
        />
      </div>

      <!-- Colosseum -->

      <div class="row featurette center mt-5">
        <div class="col-md-7 order-md-2">
          <h3 class="featurette-heading fw-normal lh-1">
            Colosseum.
            <span class="text-body-secondary">The Icon of Rome.</span>
          </h3>
          <p class="lead">
            Step back in time as you enter the Colosseum, where gladiators once
            fought for glory. This monumental amphitheater is an architectural
            marvel and a symbol of Rome’s grandeur. Don’t forget to book a
            guided tour to fully immerse yourself in its fascinating history!
          </p>
        </div>

        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Rome/20220820_143007_remastered.jpg"
            role="img"
          />
        </div>
      </div>
      <div class="col-md-12 my-3 mb-5 center">
        <img
          class="mx-auto d-block rounded-both-sides"
          style="width: 100%"
          src="/images/Rome/20220820_144428.jpg"
          alt="..."
        />
      </div>

      <!-- Roman Forum -->
      <div class="row featurette center mt-5">
        <div class="col-md-7">
          <h3 class="featurette-heading fw-normal lh-1">
            Roman Forum.
            <span class="text-body-secondary">The Heart of Ancient Rome.</span>
          </h3>
          <p class="lead">
            Just a stone's throw from the Colosseum, the Roman Forum offers a
            glimpse into the political and social center of ancient Rome. Stroll
            through the ruins and imagine the bustling life that once filled
            this historic hub.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Rome/20220820_152538.jpg"
            role="img"
          />
        </div>
      </div>
      <div class="col-md-12 my-3 mb-5 center">
        <img
          class="mx-auto d-block rounded-both-sides"
          style="width: 100%"
          src="/images/Rome/20220820_160238.jpg"
          alt="..."
        />
      </div>

      <!-- Vatican City / St. Peter's Basillica -->

      <div class="row featurette center mt-5">
        <div class="col-md-7 order-md-2">
          <h3 class="featurette-heading fw-normal lh-1">
            Vatican City.
            <span class="text-body-secondary">A World Within a City.</span>
          </h3>
          <p class="lead">
            No visit to Rome is complete without exploring Vatican City. Marvel
            at the breathtaking St. Peter’s Basilica, and don’t miss the Vatican
            Museums, home to the awe-inspiring Sistine Chapel. The artistry here
            is simply unparalleled!
          </p>
        </div>

        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Rome/20220822_094527.jpg"
            role="img"
          />
        </div>
      </div>
      <div class="col-md-12 my-3 mb-5 center">
        <img
          class="mx-auto d-block rounded-both-sides"
          style="width: 100%"
          src="/images/Rome/20220822_090904.jpg"
          alt="..."
        />
      </div>

      <!-- Vatican Museum -->
      <div class="row featurette center mt-5">
        <div class="col-md-7">
          <h3 class="featurette-heading fw-normal lh-1">
            Vatican Museum.
            <span class="text-body-secondary">A Journey Through Art.</span>
          </h3>
          <p class="lead">
            The Vatican Museums, located in Vatican City, are a treasure trove
            of art and history. Highlights include the Sistine Chapel, featuring
            Michelangelo's breathtaking frescoes, and the Raphael Rooms,
            showcasing his remarkable works. Visitors can explore grand
            galleries filled with ancient sculptures and Renaissance
            masterpieces. With timed entry tickets, the experience is both
            enriching and manageable, making it a must-visit for anyone seeking
            to immerse themselves in the Vatican's cultural heritage.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Rome/20220822_114916.jpg"
            role="img"
          />
        </div>
      </div>
      <div class="col-md-12 my-3 mb-5 center">
        <img
          class="mx-auto d-block rounded-both-sides"
          style="width: 100%"
          src="/images/Rome/20220822_133650.jpg"
          alt="..."
        />
      </div>

      <!-- Pantheon -->
      <div class="row featurette center mt-5">
        <div class="col-md-7 order-md-2">
          <h3 class="featurette-heading fw-normal lh-1">
            Pantheon.
            <span class="text-body-secondary">A Marvel of Engineering.</span>
          </h3>
          <p class="lead">
            The Pantheon stands as a testament to ancient engineering
            brilliance. Step inside to gaze at its magnificent dome and
            oculus—an architectural wonder that has inspired countless
            structures worldwide.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Rome/20220821_132432.jpg"
            role="img"
          />
        </div>
      </div>
      <div class="col-md-12 my-3 mb-5 center">
        <img
          class="mx-auto d-block rounded-both-sides"
          style="width: 100%"
          src="/images/Rome/20220820_101112.jpg"
          alt="..."
        />
      </div>

      <!-- Spanish Steps -->

      <div class="row featurette center mt-5">
        <div class="col-md-7">
          <h3 class="featurette-heading fw-normal lh-1">
            Spanish Steps.
            <span class="text-body-secondary">A Romantic Stroll.</span>
          </h3>
          <p class="lead">
            Climb the famous Spanish Steps for a picturesque view of the city.
            This bustling spot is perfect for people-watching, and the nearby
            shops and cafes make it a great place to relax and enjoy la dolce
            vita.
          </p>
        </div>

        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Rome/20220821_173924.jpg"
            role="img"
          />
        </div>
      </div>
      <div class="col-md-12 my-3 mb-5 center">
        <img
          class="mx-auto d-block rounded-both-sides"
          style="width: 100%"
          src="/images/Rome/20220821_173415.jpg"
          alt="..."
        />
      </div>

      <!-- Galleria Borghese -->
      <div class="row featurette center mt-5">
        <div class="col-md-7 order-md-2">
          <h3 class="featurette-heading fw-normal lh-1">
            Galleria Borghese.
            <span class="text-body-secondary">A Treasure Trove of Art.</span>
          </h3>
          <p class="lead">
            The Galleria Borghese, set in the picturesque Borghese Gardens in
            Rome, is a must-visit for art enthusiasts. This exquisite villa
            houses an impressive collection of masterpieces by renowned artists
            like Caravaggio, Bernini, and Raphael. Highlights include Bernini's
            dynamic sculptures, such as "Apollo and Daphne," and Caravaggio's
            dramatic use of light. With timed entry ensuring a more intimate
            experience, visitors can fully appreciate the art and the stunning
            surroundings, making it a captivating destination for anyone
            exploring the artistic heritage of Rome.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Rome/20220821_095458.jpg"
            role="img"
          />
        </div>
      </div>
      <div class="col-md-12 my-3 mb-5 center">
        <img
          class="mx-auto d-block rounded-both-sides"
          style="width: 100%"
          src="/images/Rome/20220821_094105.jpg"
          alt="..."
        />
      </div>

      <hr class="featurette-divider" />

      <!-- Must-try Dishes -->
      <div class="container d-flex justify-content-center my-5" id="dishes">
        <h2>Must-try Dishes</h2>
      </div>

      <!-- Pizza alla Romana -->
      <div class="row featurette center">
        <div class="col-md-7">
          <h3 class="eaturette-heading fw-normal lh-1 card-title">
            Pizza alla Romana
          </h3>
          <p class="lead">
            This iconic thin-crust pizza boasts a crispy base and is often
            topped with a variety of delicious ingredients, like olives, bacon,
            and mushrooms. It's a perfect blend of flavors that captures the
            essence of Roman street food.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Rome/20220819_214358.jpg"
            role="img"
          />
        </div>
      </div>

      <!-- Pizza con Uovo -->
      <div class="row featurette center mt-5">
        <div class="col-md-7 order-md-2">
          <h3 class="eaturette-heading fw-normal lh-1 card-title">
            Pizza con Uovo
          </h3>
          <p class="lead">
            This delicious Roman pizza features a thin, crispy crust topped with
            a perfectly baked egg, often accompanied by cheese and a variety of
            other toppings like pancetta or seasonal vegetables. The runny yolk
            adds a rich creaminess, making each bite a delightful combination of
            flavors and textures. It's a unique and satisfying dish that
            showcases the creativity of Roman cuisine.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Rome/20220819_214405.jpg"
            role="img"
          />
        </div>
      </div>

      <!-- Spaghetti alla Carbonara con Pecorino e Pepe -->
      <div class="row featurette center mt-5">
        <div class="col-md-7">
          <h3 class="eaturette-heading fw-normal lh-1 card-title">
            Spaghetti alla Carbonara con Pecorino e Pepe
          </h3>
          <p class="lead">
            This classic Roman dish features al dente spaghetti tossed in a
            creamy sauce made from eggs, pecorino Romano cheese, and a generous
            sprinkle of black pepper. It's simple yet rich, epitomizing Roman
            comfort food.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Rome/20220820_174402.jpg"
            role="img"
          />
        </div>
      </div>

      <!-- Spaghetti alla Carbonara di Cozze e Pepe -->
      <div class="row featurette center mt-5">
        <div class="col-md-7 order-md-2">
          <h3 class="eaturette-heading fw-normal lh-1 card-title">
            Spaghetti alla Carbonara di Cozze e Pepe
          </h3>
          <p class="lead">
            A seafood twist on the traditional carbonara, this dish incorporates
            fresh mussels into the creamy sauce, blending the flavors of the sea
            with the classic carbonara elements of cheese and pepper.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Rome/20220820_174410.jpg"
            role="img"
          />
        </div>
      </div>

      <!-- Trapazzino -->
      <div class="row featurette center mt-5">
        <div class="col-md-7">
          <h3 class="eaturette-heading fw-normal lh-1 card-title">
            Trapazzino
          </h3>
          <p class="lead">
            A unique Roman street food, trapazzino is a triangular pocket of
            pizza dough stuffed with a variety of fillings, from classic Roman
            stews to vegetables. It’s a convenient and flavorful option for
            on-the-go dining.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Rome/20220821_205930.jpg"
            role="img"
          />
        </div>
      </div>

      <!-- Polpette -->
      <div class="row featurette center mt-5">
        <div class="col-md-7 order-md-2">
          <h3 class="eaturette-heading fw-normal lh-1 card-title">Polpette</h3>
          <p class="lead">
            Polpette are typically made from a mix of ground meats, often beef
            and pork, combined with breadcrumbs, eggs, garlic, parsley, and a
            hint of Parmesan cheese. Each family has its own cherished recipe,
            making them a beloved comfort food across the country.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Rome/20220821_205658.jpg"
            role="img"
          />
        </div>
      </div>

      <!-- Tiramisu at Pompi -->
      <div class="row featurette center mt-5">
        <div class="col-md-7">
          <h3 class="eaturette-heading fw-normal lh-1 card-title">
            Tiramisu at Pompi
          </h3>
          <p class="lead">
            Often hailed as the best tiramisu in Rome, Pompi’s version is a
            heavenly layered dessert of coffee-soaked ladyfingers and creamy
            mascarpone. This indulgent treat is a must-try for anyone with a
            sweet tooth visiting the city.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Rome/20220821_170658.jpg"
            role="img"
          />
        </div>
      </div>

      <div class="container mt-3 mx-auto center">
        <div class="row justify-content-center">
          <div class="col-md-4 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Rome/20220821_170714.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-4 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Rome/20220820_194045.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-4 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Rome/20220821_170823.jpg"
              alt="..."
            />
          </div>
        </div>
      </div>

      <!-- Gellato -->
      <div class="row featurette center mt-5">
        <div class="col-md-7 order-md-2">
          <h3 class="eaturette-heading fw-normal lh-1 card-title">Gellato</h3>
          <p class="lead">
            Gelato in Rome is a deliciously essential part of the city’s
            culinary landscape. With its rich, creamy texture and intense
            flavors, this Italian treat is a must-try for any visitor. From
            classic flavors like stracciatella and pistachio to unique local
            offerings, gelaterias around the city serve up refreshing scoops
            that are perfect for cooling off during your explorations. Notable
            spots like Giolitti and Gelateria dei Gracchi are beloved for their
            artisanal approach, using fresh, high-quality ingredients. Enjoy
            your gelato while strolling through picturesque streets or relaxing
            at a historic piazza—it's the perfect sweet escape in the Eternal
            City!
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Rome/20220820_105458.jpg"
            role="img"
          />
        </div>
      </div>
      <div class="container mt-3 center">
        <div class="row">
          <div class="col-md-12 mx-auto mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Rome/20220820_104937.jpg"
              alt="..."
            />
          </div>
        </div>
      </div>

      <!-- Jolibee -->
      <div class="row featurette center mt-5">
        <div class="col-md-7">
          <h3 class="eaturette-heading fw-normal lh-1 card-title">Jolibee</h3>
          <p class="lead">
            Jollibee in Rome is a delightful fusion of Filipino and Western fast
            food, offering a unique dining experience in the heart of the city.
            Known for its iconic Chickenjoy—crispy fried chicken served with a
            side of gravy—Jollibee also features a range of favorites like Jolly
            Spaghetti, a sweet twist on traditional pasta, and delicious
            burgers. The vibrant, family-friendly atmosphere makes it a perfect
            stop for travelers craving a taste of home or those eager to explore
            Filipino cuisine. Located conveniently for tourists, it’s a
            must-visit for a quick, satisfying meal amid your Roman adventures!
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-both-sides"
            src="/images/Rome/20220821_124020.jpg"
            role="img"
          />
        </div>
      </div>

      <div class="container mt-3 center">
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Rome/20220822_141442.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-sm-6 mt-3">
            <img
              class="img-fluid rounded-both-sides"
              src="/images/Rome/20220822_141715.jpg"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
  <footer><%- include("./partials/footer.ejs") %></footer>
</html>
